extends ../layout

block content
    a(href='/bicicletas') Volver
    br
    br
    br

    h1 Nueva Bicicleta

    br
    br

    form(action="/bicicletas/create" method='post')
        label(form='id') ID:    
            input#id(type="text" name='id') 
        br
        label(form='color') Color:    
            input#color(type="text" name='color') 
        br
        label(form='modelo') Modelo:    
            input#modelo(type="text" name='modelo') 
        br
        label(form='lat') Latitud:    
            input#lat(type="text" name='lat') 
        br
        label(form='log') Longitud:    
            input#log(type="text" name='log') 
        br
        br
        input.btn(type="submit" value='OK')
        